html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 120px;
    justify-content: flex-start;
}
.header-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    max-width: 400px;
    width: 100%;
}
.header-text {
    text-align: center;
    color: #99001A;
    font-size: 48px;
    margin: 0;
    margin-top: 10px;
}
.buttons-list {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.buttons-list button {
    border-color: #99001A;
    border-radius: 8px;
    color: #99001A;
    font-size: 16px;
}
button:hover {
    cursor: pointer;
}
button:active {
    transform: scale(0.95);
}
/* Main body */
main {
    align-items: start;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}
.grid-container {
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
}
.grid-container, .box {
    border: 1px inset black;
}
.box {
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
}
/* Footer */
footer {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 50px;
}
footer p, footer a {
    color: #99001A;
    font-size: 18px;
    margin: 0;
}